body{
    background-color: darkgreen;
}

.container{
    padding: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    margin-top: 30px;
}

#areaTabela{
    background-color: #fff;
    border-radius: 7px;
}

.d-flex{
    padding-bottom: 10px;
}

.d-flex input{
    border: 1px solid darkgreen;
}

.d-flex input:focus {
    border: 1px solid darkgreen;
    color: darkgreen;
}

.box-area {
    width: 1100px;
    margin: 0 auto;
}

.form-control{
    width: 1100px;
}

#titulo{
    color: #0000;
}

.container-fluid{
    border: 2px solid #0000;
}

.form-control{
    padding-left: 3px;
}

.table-container {
    max-height: 500px;
    /* Ajuste a altura máxima conforme necessário */
    overflow-y: auto;
    /* Adiciona a barra de rolagem vertical */
    border: 1px solid #fff !important;
    /* Adiciona uma borda para a tabela */
    padding: 10px;
    margin-top: 20px;
}

.search-container {
    position: relative;
    display: inline-block;
    width: 100%; /* Ajuste conforme necessário */
  }

#searchInput {
    border: 2px solid #007bff;
    /* Borda destacada */
    border-radius: 25px;
    /* Borda arredondada */
    padding: 10px 20px;
    /* Espaçamento interno */
    font-size: 16px;
    /* Tamanho da fonte */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra leve */
    outline: none;
    /* Remove o contorno padrão ao focar */
}

#searchInput:focus {
    border-color: #0056b3;
    /* Cor da borda ao focar */
    box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.2);
    /* Sombra ao focar */
}

.search-icon {
    position: absolute;
    right: 20px; /* Aumenta a distância da borda direita */
    top: 45%; /* Move o ícone para cima */
    transform: translateY(-50%); /* Centraliza verticalmente */
    color: #007bff; /* Cor do ícone */
    font-size: 20px; /* Tamanho do ícone */
  }


.navbar-nav .nav-link {
    text-decoration: underline;
}

