
.tabela{
    padding-top: 200px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    margin-left: 280px;
    border: 1px solid #ddd ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
}

th, td{
    background-color: #fff;
}

th {
    color: darkgreen;
}