.modal-dialog {
    max-width: 500px; /* Ajuste a largura conforme necessário */
    margin: 1.75rem auto; /* Margem para centralizar o modal na tela */
}
  
.modal-body {
    max-height: calc(100vh - 150px); /* Ajusta a altura do modal */
    overflow-y: auto; /* Adiciona rolagem se o conteúdo for maior */
}

#addPecName,
#addPecData,
#addPecDeputado{
    width: 80%; 
    height: 30px; 
    font-size: 14px; 
}

#addPecDescription{
    width: 80%;
    height: 30px;
}

#adicionar{
    background-color: darkgreen;
    border-color: darkgreen;
    width: 125px;
    height: 40px;
}

#editPecName,
#editPecData,
#editPecDeputado{
    width: 80%; 
    height: 30px; 
    font-size: 14px; 
}

#editPecDescription{
    width: 80%;
    height: 50px;
    font-size: 14px;
}

#salvar{
    background-color: darkgreen;
    border-color: darkgreen;
    width: 165px;
    height: 40px;
    color: #fff;
}

#editar{
    margin-right: 5px;
}